
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
		<div class="wrapper">
    	    <div class="side-bar">
                <ul>
                     <li class="menu-head">
                       AccountInfo <a href="#" class="push_menu"><span class="glyphicon glyphicon-align-justify pull-right"></span></a>
                     </li>
                     <div class="menu">
                        <li>
                            <a href="http://localhost:4200/mainCategory">Dashboard <span class="glyphicon glyphicon-dashboard pull-right"></span></a>
                        </li>
                        <li>
                            <a href="#" class="active">My Account<span class="glyphicon glyphicon-heart pull-right"></span></a>
                        </li>
                        
                        <li>
                            <a href="http://localhost:4200/Cart/5fcb2e13f138a4364cdaaf19/products"> Cart <span class="glyphicon glyphicon-cog pull-right"></span></a>
                        </li>
                    </div>
                    
                </ul>
                
            </div> 
            
            
        </div>
	</div>
</div>
<br>
<br>

<div class="content">
    <div class="card">
        <div class="firstinfo"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" />
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name:</th>
                    <th scope="col">Email:</th>
                    <th scope="col">PhoneNumber:</th>
                  </tr>
                </thead>
                <tbody >
                    <tr>
                    <td> Manny</td>
                    <td> dishanegi.dn@gmail.com</td>
                    <td>8169292346</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
  
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
