/* Underline Effect*/


.navbar-default
{
background-color: rgb(255, 187, 0);
}
.nav-item {
    position: relative;
  }
  
  .navbar-collapse ul li a.nav-link:before {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background: transparent;
      content: '';
      opacity: 0;
      -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      -ms-transform: translateY(10px);
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
  }
  
  .navbar-collapse ul li:hover a.nav-link:before {
      opacity: 1;
      -ms-transform: translateY(0px);
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      bottom: 0px;
      background: #dd4343;
      text-decoration: none;
  }
  a{
    font-size:20px;
    text-decoration: none;
    color: black;
  }
  .dropdown-item:hover, .dropdown-item:focus {
      color: #ffffff;
      text-decoration: none;
      background-color: #ddcdcdad;
  }
  
  .dropdown-menu {
    border: 0px;
  }
  .navbar-nav > li{
    padding-left:30px;
    padding-right:20px;
  }
  

  


/* Style the button and place it in the middle of the container/image */
.but1container .btn {
    position: absolute;
    top: 67.4%;
    left: 49.5%;
   
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:transparent;
    color: rgb(180, 92, 92);
    font-size: 16px;
    padding: 20px 110px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
   
  }







.showcase{
    display: grid;
    grid-gap:20px;
    background-color: var(--primary);
    background-image: url('https://www.lifeisgood.com/dw/image/v2/AAHN_PRD/on/demandware.static/-/Sites-LIG2015-Library/default/dw51d977a0/clp_sale/2-SC_11.1_Holiday20_SaleCLP-desk_40offSale.jpg');
    background-size: cover;
    min-height: 350px;
    background-position: center;
   
}



.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 85vh;
    width: 202vh;
  }




 
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   margin-top: 20px;
    height: 80vh;
    width: 80vh;
  }


.carousel-item {
    height: 85vh;
    min-height: 400px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-caption {
    bottom: 270px;
  }
  .container {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .butcontainer .btn {
    position: absolute;
    top: 87%;
    left: 53.5%;
   
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:transparent;
    color: rgb(180, 92, 92);
    font-size: 16px;
    padding: 50px 310px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
   
  }
  .carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
  }
  
  .carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
  }
  .container {
    margin-top: 50px
}

h3.h3 {
    text-align: center;
    margin: 1em;
    text-transform: capitalize;
    font-size: 1.7em
}

.demo {
    padding: 45px 0
}

.product-grid2 {
    font-family: 'Open Sans', sans-serif;
    position: relative
}

.product-grid2 .product-image2 {
    overflow: hidden;
    position: relative
}

.product-grid2 .product-image2 a {
    display: block
}

.product-grid2 .product-image2 img {
    width: 100%;
    height: auto
}

.product-image2 .pic-1 {
    opacity: 1;
    transition: all .5s
}

.product-grid2:hover .product-image2 .pic-1 {
    opacity: 0
}

.product-image2 .pic-2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s
}

.product-grid2:hover .product-image2 .pic-2 {
    opacity: 1
}

.product-grid2 .social {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 50px;
    right: 25px;
    z-index: 1
}

.product-grid2 .social li {
    margin: 0 0 10px;
    display: block;
    transform: translateX(100px);
    transition: all .5s
}

.product-grid2:hover .social li {
    transform: translateX(0)
}

.product-grid2:hover .social li:nth-child(2) {
    transition-delay: .15s
}

.product-grid2:hover .social li:nth-child(3) {
    transition-delay: .25s
}

.product-grid2 .social li a {
    color: #505050;
    background-color: #fff;
    font-size: 17px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: block;
    transition: all .3s ease 0s
}

.product-grid2 .social li a:hover {
    color: #fff;
    background-color: #3498db;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

.product-grid2 .social li a:after,
.product-grid2 .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 22px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.product-grid2 .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1
}

.product-grid2 .social li a:hover:after,
.product-grid2 .social li a:hover:before {
    opacity: 1
}

.product-grid2 .add-to-cart {
    color: #fff;
    background-color: #404040;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: all .3s
}

.product-grid2 .add-to-cart:hover {
    background-color: #3498db;
    text-decoration: none
}

.product-grid2:hover .add-to-cart {
    bottom: 0
}

.product-grid2 .product-new-label {
    background-color: #3498db;
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s
}

.product-grid2:hover .product-new-label {
    opacity: 0
}

.product-grid2 .product-content {
    padding: 20px 10px;
    text-align: center
}

.product-grid2 .title {
    font-size: 17px;
    margin: 0 0 7px
}

.product-grid2 .title a {
    color: #303030
}

.product-grid2 .title a:hover {
    color: #3498db
}

.product-grid2 .price {
    color: #303030;
    font-size: 15px
}

@media screen and (max-width:990px) {
    .product-grid2 {
        margin-bottom: 30px
    }
}
.showcase2{
display: grid;
grid-gap:20px;
background-color: var(--primary);
background-image: url('https://www.lifeisgood.com/dw/image/v2/AAHN_PRD/on/demandware.static/-/Sites-LIG2015-Library/default/dw51d977a0/clp_sale/2-SC_11.1_Holiday20_SaleCLP-desk_40offSale.jpg');
background-size: cover;
min-height: 250px;
background-position: center;
}