
.row{
    margin-left:0px;
    margin-right:0px;
    margin-top: 0px;

 
}

#wrapper {
    padding-left: 50px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -250px;
    margin-top: 5px;
    left: 250px;
    width: 300px;
    background: #f8c930;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 50px;
    margin-left: 250px;
    width: 100%;
    height: auto;
    align-items: center;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    align-items: center;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: rgb(0, 0, 0);
    display: block;
    float: left;
    text-decoration: none;
    width: 300px;
    background:  #f8c930;
    border-top: 1px solid #f8c930;
    border-bottom: 1px solid #ebdc0e;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: rgb(70, 68, 62);
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #413b3b;
  display: block;
  text-decoration: none;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.sidebar-nav li a:hover {
  color: rgb(255, 255, 255);
  background: rgba(230, 22, 22, 0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 35px;
}

.sidebar-nav > .sidebar-brand a {
  color: #754949;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: rgb(216, 188, 27);
  background: none;
}

#main_icon
{
    float:right;
   padding-right: 65px;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 65px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
}
}
























.carousel-item {
  height: 85vh;
  min-height: 400px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption {
  bottom: 270px;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}
.container {
  margin-top: 50px
}

h3.h3 {
  text-align: center;
  margin: 1em;
  text-transform: capitalize;
  font-size: 1.7em
}

.demo {
  padding: 45px 0
}

.product-grid2 {
  font-family: 'Open Sans', sans-serif;
  position: relative
}

.product-grid2 .product-image2 {
  overflow: hidden;
  position: relative
}

.product-grid2 .product-image2 a {
  display: block
}

.product-grid2 .product-image2 img {
  width: 100%;
  height: auto
}

.product-image2 .pic-1 {
  opacity: 1;
  transition: all .5s
}

.product-grid2:hover .product-image2 .pic-1 {
  opacity: 0
}

.product-image2 .pic-2 {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s
}

.product-grid2:hover .product-image2 .pic-2 {
  opacity: 1
}

.product-grid2 .social {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 50px;
  right: 25px;
  z-index: 1
}

.product-grid2 .social li {
  margin: 0 0 10px;
  display: block;
  transform: translateX(100px);
  transition: all .5s
}

.product-grid2:hover .social li {
  transform: translateX(0)
}

.product-grid2:hover .social li:nth-child(2) {
  transition-delay: .15s
}

.product-grid2:hover .social li:nth-child(3) {
  transition-delay: .25s
}

.product-grid2 .social li a {
  color: #505050;
  background-color: #fff;
  font-size: 17px;
  line-height: 45px;
  text-align: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: block;
  transition: all .3s ease 0s
}

.product-grid2 .social li a:hover {
  color: #fff;
  background-color: #3498db;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

.product-grid2 .social li a:after,
.product-grid2 .social li a:before {
  content: attr(data-tip);
  color: #fff;
  background-color: #000;
  font-size: 12px;
  line-height: 22px;
  border-radius: 3px;
  padding: 0 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px
}

.product-grid2 .social li a:after {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -22px;
  z-index: -1
}

.product-grid2 .social li a:hover:after,
.product-grid2 .social li a:hover:before {
  opacity: 1
}

.product-grid2 .add-to-cart {
  color: #fff;
  background-color: #404040;
  font-size: 15px;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  display: block;
  position: absolute;
  left: 0;
  bottom: -100%;
  transition: all .3s
}

.product-grid2 .add-to-cart:hover {
  background-color: #3498db;
  text-decoration: none
}

.product-grid2:hover .add-to-cart {
  bottom: 0
}

.product-grid2 .product-new-label {
  background-color: #3498db;
  color: #fff;
  font-size: 17px;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .3s
}

.product-grid2:hover .product-new-label {
  opacity: 0
}

.product-grid2 .product-content {
  padding: 20px 10px;
  text-align: center
}

.product-grid2 .title {
  font-size: 17px;
  margin: 0 0 7px
}

.product-grid2 .title a {
  color: #303030
}

.product-grid2 .title a:hover {
  color: #3498db
}

.product-grid2 .price {
  color: #303030;
  font-size: 15px
}

img{
  height: 100px;
  width: 100px;
}
@media screen and (max-width:990px) {
  .product-grid2 {
      margin-bottom: 30px
  }
}