<br>
<br>
<br>
<br>
<br>


<div id="sidebar-wrapper">
  <ul id="sidebar_menu" class="sidebar-nav">
       <li class="sidebar-brand"><a id="menu-toggle" href="#">Categories<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
  </ul>
    <ul class="sidebar-nav" id="sidebar">     
      <li><a href="http://localhost:4200/categories/Women's%20Fashiom/product">Women's Fashion<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
      <li><a href="http://localhost:4200/categories/Men's%20Fashion/product">Men's Fashion<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
      <li><a href="http://localhost:4200/categories/Fruits/product">Fruits<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
    </ul>
  </div>
      <br>
    

 <!-- Page content -->
 <div id="page-content-wrapper">
  <!-- Keep all page content within the page-content inset div! -->
  <div class="page-content inset">
    <div class="row">

<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><img src="http://bestjquery.com/tutorial/product-grid/demo7/images/img-1.jpg" /></div>
            <div class="tab-pane" id="pic-2"><img src="http://bestjquery.com/tutorial/product-grid/demo7/images/img-1.jpg" /></div>
          </div>
        
          
        </div>
        <div class="details col-md-6" >
          <h3 class="product-title">Women's Plain Top</h3>
          <div class="rating">
            <div class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <span class="review-no">45 reviews</span>
          </div>
          <p class="product-description">Image result for fashion description Fashion also alludes to the way in which things are made; to fashion something is to make it in a particular form.</p>
          <h4 class="price">current price: <span>{{400 | currency :'INR'}}</span></h4>
          <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
          <h5 class="sizes">sizes:
            <span class="size" data-toggle="tooltip" title="small">s</span>
            <span class="size" data-toggle="tooltip" title="medium">m</span>
            <span class="size" data-toggle="tooltip" title="large">l</span>
            <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
          </h5>
          <div class="action">
            <button class="add-to-cart btn btn-default" type="button"> <a href="/Cart/5fcb2e13f138a4364cdaaf19/5fd6a9e64a0d7428eccca19e/Women's Plain Top/400">add to cart</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>
    
</div>


<br>
<br>
<br>


























<!---


  <div class="container">

    <div class="row">
      <div class="col-lg-10">
  
        <h1 class="my-4">Shop Name</h1>
        <div class="list-group" >
          <tr *ngFor="let category of categories">
         <a href="#">{{category.title}}</a>
          </div>
        </div>

        <h1>Products Table</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Slug</th>
              <th scope="col">Desc</th>
              <th scope="col">Category</th>
              <th scope="col">Price</th>
              <th scope="col">Image</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let product of products">
              <td> {{product.title}}</td>
              <td> {{product.slug}}</td>
              <td> {{product.desc}}</td>
              <td> {{product.category}}</td>
              <td> {{product.price}}</td>
              <td> <img src="{{product.image}}" height="200px" width="200px"></td>
          
            </tr>
          </tbody>
        </table>
      <br>
  
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    
  -->
   