<br>
<br>


<div class="container">
<div class="showcase">
<div class="row1">
  <h1>Product Table</h1>
  <div class="inner">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Slug</th>
        <th scope="col">Desc</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
        <th scope="col">Image2</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
        <td> {{product.title}}</td>
        <td> {{product.slug}}</td>
        <td > {{product.desc}}</td>
        <td> {{product.category}}</td>
        <td> {{product.price}}</td>
        <td> <img src="{{product.image}}" height="200px" width="200px"></td>
        <td> <img src="{{product.image2}}" height="200px" width="200px"></td>
    <td (click)="deleteProduct(product._id)" ><a class="confirmDeletion" href="/allProducts">Delete</a></td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>

</div>
</div>
<br>
 
